body {
  margin: 0;
  background-color: #242424;
  color: white;
  font-family: sans-serif;
}

.arena-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
